<p>mentions-legales works!</p>
<div class="container-mentions">
  <h1>Mentions Légales</h1>
  <p class="editing-point">
    <b>Ce site n'est pas le site officiel pour les Jeux Olympiques 2024</b><br />
    Il a été créé dans un but pédagogique pour certifier une fin de formation. Achat de billet et
    paiement sont factices et non utilisables.
  </p>

  <h6>1. Éditeur du site</h6>
  <pre class="editing-point">
        Le site JO2024 est édité par :

        Nom : TABARY Damien

        Forme juridique : Aucun / Projet scolaire de fin de formation

        Siège social : Six Fours les pages

        Email de contact : damien.tabary@hotmail.com
  </pre>
  <h6>2. Hébergeur</h6>
  <pre class="editing-point">
        Le site est hébergé par :

        Netlify, Inc.
        2325 3rd Street, Suite 296
        San Francisco, California 94107
        États-Unis
        Site web : https://www.netlify.com
  </pre>
  <h6>3. Directeur de la publication</h6>
  <pre class="editing-point">
        Nom : TABARY Damien

        Email : damien.tabary@hotmail.com
  </pre>

  <h6>4. Propriété intellectuelle</h6>
  <p class="editing-point">
    L’ensemble des éléments du site (textes, images, graphismes, logo, icônes, vidéos, etc.) sont
    protégés par le droit de la propriété intellectuelle. Toute reproduction, représentation,
    modification, publication, adaptation de tout ou partie des éléments du site est interdite, sauf
    autorisation écrite préalable de l’éditeur. Les images de se site sont des images libre de
    droits disponibles sur le site https://pixabay.com/fr/ .
  </p>

  <h6>5. Produits et services</h6>
  <pre class="editing-point">
        Le site propose à la vente : des <u><b>Places fictives</b></u> pour participer à des Jeux Olympiques <u>finis</u>.

        Les informations présentées (prix, disponibilité, descriptifs) sont données à titre indicatif.
  </pre>

  <h6>6. Données personnelles & Cookies</h6>
  <p class="editing-point">
    Le site peut collecter certaines données personnelles (nom, prénom, adresse email) lors de la
    création d’un compte. Etant un site factice, aucune vérification de vos données ne sera faite.
    Les données renseignées lors de la création de compte seront celles que vous désirez.
    Conformément au Règlement Général sur la Protection des Données (RGPD) et à la loi «
    Informatique et Libertés », vous disposez d’un droit d’accès, de rectification, d’opposition et
    de suppression de vos données en nous contactant à : damien.tabary@hotmail.com. Le site
    <u>n'utilise pas</u> de cookies.
  </p>

  <h6>7. Limitation de responsabilité</h6>
  <p class="editing-point">
    L’éditeur du site ne pourra être tenu responsable des dommages directs ou indirects causés au
    matériel de l’utilisateur, ni de l’impossibilité d’accéder au site.
  </p>
  <h6>8. Droit applicable</h6>
  <pre class="editing-point">
        Les présentes mentions légales sont régies par le droit français.

        En cas de litige, et à défaut d’accord amiable, les tribunaux français seront compétents.
  </pre>
</div>
