<div class="content-page">
  <h1>CGV – Vente e-commerce</h1>
  <p class="nota-bene">
    Ce document est un modèle – ce site a été conçu dans le cadre d’une évaluation professionnelle.
    Les ventes sur ce site sont factices, aucun retrait d’argent ne sera fait, et chaque billet
    généré , ainsi que les QR-codes ne peuvent servir dans la vie réelle. En rappel les Jeux
    Olympiques de Paris ont eu lieu en 2024 et ce site a été conçu en 2025
  </p>
  <p class="society-name">
    Les présentes conditions de vente sont conclues d’une part par la société "DAMIEN pour
    évaluation de formation" et gérant le site ……………………………… (nom du site, URL) et, d’autre part, par
    toute personne physique ou morale souhaitant procéder à un achat via le site internet
    ………………………………….. (nom du site, URL) dénommée ci-après " l’acheteur ".
  </p>
  <p class="article 1">
    Article 1. Objet Les présentes conditions de vente visent à définir les relations contractuelles
    entre "DAMIEN pour évaluation de formation" et l’acheteur et les conditions applicables à tout
    achat effectué par le biais du site internet ......................... (nom du site, url).
    L’acquisition d’un produit à travers le présent site implique une acceptation sans réserve par
    l’acheteur des présentes conditions de vente dont l’acheteur reconnaît avoir pris connaissance
    préalablement à sa commande. Avant toute transaction, l’acheteur déclare d’une part que l’achat
    de produits sur le site …………………… (nom du site, url) est sans rapport direct avec son activité
    professionnelle et est limité à une utilisation strictement personnelle et d’autre part avoir la
    pleine capacité juridique, lui permettant de s’engager au titre des présentes conditions
    générales de ventes. La société "DAMIEN pour évaluation de formation" conserve la possibilité de
    modifier à tout moment ces conditions de ventes, afin de respecter toute nouvelle réglementation
    ou dans le but d'améliorer l’utilisation de son site. De ce fait, les conditions applicables
    seront celles en vigueur à la date de la commande par l’acheteur.
  </p>
  <p class="article 2">
    Article 2. Produits Les produits proposés sont ceux qui figurent sur le site
    ......................... (nom du site, url) de la société "DAMIEN pour évaluation de
    formation", dans la limite des stocks disponibles. La société "DAMIEN pour évaluation de
    formation" se réserve le droit de modifier à tout moment l’assortiment de produits. Chaque
    produit est présenté sur le site internet sous forme d’un descriptif. Les photographies sont les
    plus fidèles possibles mais n’engagent en rien le Vendeur. La vente des produits présentés dans
    le site ......................... (nom du site, url) est destinée à tous les acheteurs résidants
    dans les pays qui autorisent pleinement l’entrée sur leur territoire de ces produits.
  </p>
  <p class="article 3">
    Article 3. Tarifs Les prix figurant sur les fiches produits du catalogue internet et sont des
    prix en Euros (€) toutes taxes comprises (TTC) tenant compte de la TVA applicable au jour de la
    commande. Tout changement du taux de la TVA pourra être répercuté sur le prix des produits. La
    société "DAMIEN pour évaluation de formation" se réserve le droit de modifier ses prix à tout
    moment, étant toutefois entendu que le prix figurant au catalogue le jour de la commande sera le
    seul applicable à l’acheteur. Les prix indiqués ne comprennent pas les frais de livraison,
    facturés en supplément du prix des produits achetés suivant le montant total de la commande en
    France métropolitaine.
  </p>
  <p class="article 4">
    Article 4. Commande et modalités de paiement Avant toute commande, l’acheteur doit créer un
    compte sur le site ......................... (nom du site, url). La rubrique de création de
    compte est accessible directement depuis la barre de menu supérieure. A chaque visite,
    l’acheteur, s’il souhaite commander ou consulter son compte (état des commandes, profil…), devra
    s’identifier à l’aide de ces informations. La société "DAMIEN pour évaluation de formation"
    propose à l’acheteur de commander et régler ses produits en plusieurs étapes, avec paiement sur
    l'application : l’acheteur sélectionne les produits qu’il souhaite commander dans le « panier »,
    modifie si besoin (quantités, formules...). Enfin, la dernière étape lui propose de vérifier
    l’ensemble des informations, prendre connaissance et accepter les présentes conditions générales
    de vente en cochant la case correspondante, puis l’invite à valider sa commande en cliquant sur
    le bouton « Confirmer ma commande ». Ce dernier clic forme la conclusion définitive du contrat.
    Dès validation, l’acheteur reçoit les produits sous forme de QR Code imprimable- Paiement
    sécurisé par Paypal ou carte bancaire (via le système PAYPAL) : l’acheteur sélectionne les
    produits qu’il souhaite commander dans le « panier », modifie si besoin (quantités,
    formules...), vérifie l’adresse de livraison ou en renseigne une nouvelle. Puis, les frais de
    port sont calculés et soumis à l’acheteur, ainsi que le nom du transporteur. Ensuite, l’acheteur
    choisit le mode de paiement de son choix : « Paiement par Paypal ». L’étape suivante lui propose
    de vérifier l’ensemble des informations, prendre connaissance et accepter les présentes
    conditions générales de vente en cochant la case correspondante, puis l’invite à valider sa
    commande en cliquant sur le bouton « Confirmer ma commande ». Enfin, l’acheteur est redirigé sur
    l’interface sécurisée PAYPAL afin de renseigner en toute sécurité ses références de compte
    Paypal ou de carte bleue personnelle. Si le paiement est accepté, la commande est enregistrée et
    le contrat définitivement formé. Le paiement par compte Paypal ou par carte bancaire est
    irrévocable. En cas d’utilisation frauduleuse de celle-ci, l’acheteur pourra exiger l’annulation
    du paiement par carte, les sommes versées seront alors recréditées ou restituées. La
    responsabilité du titulaire d’une carte bancaire n’est pas engagée si le paiement contesté a été
    prouvé effectué frauduleusement, à distance, sans utilisation physique de sa carte. Pour obtenir
    le remboursement du débit frauduleux et des éventuels frais bancaires que l’opération a pu
    engendrer, le porteur de la carte doit contester, par écrit, le prélèvement auprès de sa banque,
    dans les 70 jours suivant l’opération, voire 120 jours si le contrat le liant à celle-ci le
    prévoit. Les montants prélevés sont remboursés par la banque dans un délai maximum d’un mois
    après réception de la contestation écrite formée par le porteur. Aucun frais de restitution des
    sommes ne pourra être mis à la charge du titulaire. La confirmation d’une commande entraîne
    acceptation des présentes conditions de vente, la reconnaissance d’en avoir parfaite
    connaissance et la renonciation à se prévaloir de ses propres conditions d’achat. L’ensemble des
    données fournies et la confirmation enregistrée vaudront preuve de la transaction. Si l’acheteur
    possède une adresse électronique et s’il l’a renseignée sur son bon de commande, la société
    "DAMIEN pour évaluation de formation" lui communiquera par courrier électronique la confirmation
    de l’enregistrement de sa commande. Si l’acheteur souhaite contacter la société ."DAMIEN pour
    évaluation de formation": Avenue de l'évaluation STUDI ; soit par email à l’adresse suivante :
    test@test.fr, soit par téléphone au 0102030405.
  </p>
  <p class="article 5">
    Article 5. Réserve de propriété La société "DAMIEN pour évaluation de formation" conserve la
    propriété pleine et entière des produits vendus jusqu'au parfait encaissement du prix, en
    principal, frais et taxes compris.
  </p>
  <p class="article 6">
    Article 6. Rétractation En vertu de l’article L121-20 du Code de la consommation, l’acheteur
    dispose d'un délai de quatorze jours ouvrables à compter de la livraison de leur commande pour
    exercer son droit de rétractation et ainsi faire retour du produit au vendeur pour échange ou
    remboursement sans pénalité, à l’exception des frais de retour.
  </p>
  <p class="article 7">
    Article 7. La délivrance de la commande se fera sur la page de gestion de compte client. Tant un
    produit dématérialisé, l'obtention pourra se télécharger ou se copier depuis le compte.
  </p>
  <p class="article 8">
    Article 8. Garantie Tous les produits fournis par la société "DAMIEN pour évaluation de
    formation" bénéficient de la garantie légale prévue par les articles 1641 et suivants du Code
    civil. En cas de non conformité d’un produit vendu, il pourra être contester à la société
    "DAMIEN pour évaluation de formation" qui le reprendra, l’échangera ou le remboursera. Toutes
    les réclamations, demandes d’échange ou de remboursement doivent s’effectuer par voie postale à
    l’adresse suivante : "DAMIEN pour évaluation de formation" : Avenue de l'évaluation STUDI, dans
    un délai de trente jours après livraison.
  </p>
  <p class="article 9">
    Article 9. Responsabilité La société "DAMIEN pour évaluation de formation", dans le processus de
    vente à distance, n’est tenue que par une obligation de moyens. Sa responsabilité ne pourra être
    engagée pour un dommage résultant de l’utilisation du réseau Internet tel que perte de données,
    intrusion, virus, rupture du service, ou autres problèmes involontaires.
  </p>
  <p class="article 10">
    Article 10. Propriété intellectuelle Tous les éléments du site ......................... (nom du
    site, url) sont et restent la propriété intellectuelle et exclusive de la société "DAMIEN pour
    évaluation de formation". Personne n’est autorisé à reproduire, exploiter, ou utiliser à quelque
    titre que ce soit, même partiellement, des éléments du site qu’ils soient sous forme de photo,
    logo, visuel ou texte.
  </p>
  <p class="article 11">
    Article 11. Données à caractère personnel La société "DAMIEN pour évaluation de formation"
    s'engage à préserver la confidentialité des informations fournies par l’acheteur, qu'il serait
    amené à transmettre pour l'utilisation de certains services. Toute information le concernant est
    soumise aux dispositions de la loi n° 78-17 du 6 janvier 1978. A ce titre, l'internaute dispose
    d'un droit d'accès, de modification et de suppression des informations le concernant. Il peut en
    faire la demande à tout moment par courrier à l’adresse suivante : "DAMIEN pour évaluation de
    formation": Avenue de l'évaluation STUDI.
  </p>
  <p class="article 12">
    Article 12. Règlement des litiges Les présentes conditions de vente à distance sont soumises à
    la loi française. Pour tous litiges ou contentieux, le Tribunal compétent sera celui de VOTRE
    CHOIX.
  </p>
</div>
