h1 {
  color: white;
  text-align: center;
  text-decoration: underline;
  font-size: 1.5rem;
  margin-top: 3vh;
}

.admin-container {
  width: 75vw;
  background-color: yellowgreen;
  border-radius: 5px;
  margin: 5vh auto;
}

table {
  border-collapse: collapse;
  width: 75vw;
}
td {
  margin: 2vh 3vw;
  border: 1px solid black;
  padding: 1vw 3vw;
}
